doctype html
html(lang="it")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Menu con Bootstrap
        link(rel="stylesheet", href="asset/style.css")
        script(src="asset/bootstrap-5.3.2-dist/js/bootstrap.bundle.js")
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href="/") Menu
            button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse#navbarNav
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="#") inserimento
                    li.nav-item
                        a.nav-link(href="#") ripilogo
        div.container
            div.row
                div.col-md-4.mx-auto
                    img(src="asset/img/snake.png", alt="ciao", class="rounded mx-auto d-block img-fluid")

