doctype html
html(lang="it")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Menu con Bootstrap
        link(rel="stylesheet", href="/public/asset/style.css")
        script(src="/public/asset/bootstrap-5.3.2-dist/js/bootstrap.bundle.js")
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href="#") Menu
            button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse#navbarNav
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href="#") Home
                    li.nav-item
                        a.nav-link(href="#") About
                    li.nav-item
                        a.nav-link(href="#") Services
                    li.nav-item
                        a.nav-link(href="#") Contact
