extends layout

block content
    div.container
        div.row
            div.col-md-4.mx-auto
                img(src="asset/img/snake.png", alt="ciao", class="rounded mx-auto d-block img-fluid")
                p.text-center Home bella